<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

</head>
<body>
    <h1>유저 정보 테이블</h1>
    <table class = "table">
        <thead class = "table-dark">
            <tr>
                <th>이름</th>
                <th>비밀번호</th>
                <th>성별</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "user : ${users}">
                <td >
                    <a th:href = "@{/board/{id}(id = ${user.userId})}" th:text = "${user.userName}"></a>
                </td>
                <td th:text = "${user.password}"></td>
                <td th:text = "${user.sex}"></td>

            </tr>
        </tbody>
        </thead>
    </table>
</body>
</html>