<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .jumbotron {
        margin : 100px;
        border-color : black;
        border : solid;
        padding : 50px;
    }

</style>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">스프링 토이프로젝트 용 운동 기록 보관 사이트입니다. 회원가입,게시판등 여러 기능을 추가할 예정입니다.</p>
  <hr class="my-4">
  <p>2022년 5월 22일날 시작하였습니다.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">로그인</a>
    <a class="btn btn-outline-info btn-lg" href="/join" role="button">회원가입</a>

</div>

</body>
</html>