<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>유저 정보 테이블</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "user : ${userList}">
                <td th:text = "${user.userId}"></td>
                <td th:text = "${user.userName}"></td>
            </tr>
        </tbody>
        </thead>
    </table>
</body>
</html>