<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.toy.mapper.RecordMapper">

    <insert id = "save">
        insert into records (title,content,user_id) values (#{title},#{content},#{userId})
    </insert>

    <select id = "findAll" resultType="Record">
        select record_id,title,content,user_id from records
    </select>

    <select id = "findById" resultType="Record">
        select record_id,title,content,user_id from records where user_id = ${userId} LIMIT 1;
    </select>
</mapper>