<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.toy.mapper.UserMapper">

    <insert id ="save">
        INSERT INTO users (userName,sex,password) values (#{userName},#{sex},#{password})
    </insert>

    <select id = "findAll" resultType="User">
        SELECT userId,userName,password,sex from users order by userId desc;
    </select>

    <select id = "findById" resultType="User">
        SELECT userName,password,sex from users where userId = #{userId};
    </select>

    <update id = "update">
        update users
        set userName = #{userName} , password = #{password} , sex = #{sex}
        where userId = #{userId}
    </update>

    <delete id="delete">
        delete from users
        where userId = ${userId}
    </delete>

</mapper>